# bitplusd RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.bitplus
host=127.0.0.1

#mainnet default
port=8332

#testnet default
#port=18332

#regtest default
#port=18443

#signet default
#port=38332

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=f9beb4d9
genesis=00000000b0e14d742a71f293b7ad9a3123f0104e43b185bbff604e5064be070c
input=/home/example/.bitplus/blocks

# testnet
#netmagic=0b110907
#genesis=00000000983487de8119fc34936f56ed66147a237ddc544b07abacd777293869
#input=/home/example/.bitplus/testnet3/blocks

# regtest
#netmagic=fabfb5da
#genesis=3ab3d28b0d4ea82d43cd5674509f1446937798517f50d9bbfa167fc3f940907d
#input=/home/example/.bitplus/regtest/blocks

# signet
#netmagic=0a03cf40
#genesis=0000013234d45d1d4fe1427d22a84792efb0b243535c658b939f78f133fa26fb
#input=/home/example/.bitplus/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
